.elements {
  margin: 51px 0 67px;
}

@media screen and (max-width: 1000px) {
  .elements {
    padding: 0 20px;
  }
}

@media screen and (max-width: 620px) {
  .elements {
    margin: 36px 0 48px;
  }
}