.footer {
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 880px;
  flex-grow: 0;
  width: 100%;
}

@media screen and (max-width: 1000px)  {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 555px) {
  .footer {
    padding-bottom: 36px;
  }
}